<link rel="stylesheet" href="{{ asset('css/navbar.css') }}" type="text/css" />
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'home' %}active{%endif%}" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Content
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ path('content_index') }}">Content list</a>
          <a class="dropdown-item" href="{{ path('content_new') }}">Content create</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link {% if current_menu is defined and current_menu == 'login' %}active{%endif%}" href="{{ path('log_in') }}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" {% if is_granted('IS_AUTHENTICATED_FULLY') %}null;{% else %}hidden{%endif%} href="{{ path('log_out') }}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
